{% extends 'chat/chat.html' %}
{% block hide %}{% endblock %}
{% block messages %}
    {% for message in messages %}
    {% if message.sender == request.user %}
<div class="card-panel left" style="width: 80%; position: relative; border-radius: 20px !important;">
    <div style="position: absolute; top: 0; left:3px; font-weight: bolder ; " class="title"></div>
    {{ message }}
</div>
    {% else %}
<div class="card-panel right " style="width: 80%; position: relative ; border-radius: 20px !important; background-color: #26a69a; ">
    <div style="position: absolute; top: 0; left:3px; font-weight: bolder" class="title"></div>
    {{ message }}
</div>
    {% endif %}
    {% endfor %}
<script>
$(function () {
    $('#user{{ receiver.id }}').addClass('active');
    //Call receive function each 1 seconds to check for new messages in the database
    setInterval(receive,1000)
})
</script>
{% endblock %}
